# .env
.env*

# Artifacts
.cache/
dist/
public/

# IDE configs
.idea/

# Dependencies
node_modules/

# Logs
lerna-debug.log
coverage/

# Other
**/btc-sandbox/*
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions